# Node
node_modules/
.env

# Flutter
.dart_tool/
build/
*.g.dart
pubspec.lock

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Firebase sensitive files
client/ios/Runner/GoogleService-Info.plist
client/macos/Runner/GoogleService-Info.plist
server/src/serviceAccountKey.json